<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy Status</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column">
            <h1>ProxyStatus</h1>
            <p>Estamos com {{ nro_pages }} páginas armazenadas em cache!</p>
        </div>
        <div class="column">
            <table>
            <thead>
            <tr>
                <th>
                    URL
                </th>
            </tr>
            </thead>
            <tbody>
                {% for pagina in pg_access%}
                <tr>
                    <th>
                        <a href="{{ pagina.page.url }}">{{ pagina.page.url }}</a>
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</body>
</html>